<!DOCTYPE html>
<html>
<head>
    <title>VideoStoreApp</title>
    <link type="text/css" href="/static/styles/bootstrap/css/bootstrap.css" rel="Stylesheet" />
    <link type="text/css" href="/static/styles/style.css" rel="Stylesheet" />
</head>
<body style="padding-left: 40px; background: #f5f5f5">
<h1>Welcome to VideoStoreApp Login</h1>
<table class="login">
<form action="/login/" method="post">

        <tbody>
            <tr>
                <td><label>Email: </label></td><td><input type="email" required="required" name="email" /></td>
            </tr>
            <tr>
                <td><label>Password</label></td><td><input type="password" required="required" name="password"/></td>
            </tr>
            <tr>
                <td></td><td><input class="btn btn-primary" type="submit" value="Login"/></td>
            </tr>
            <tr>
                <td></td><td><p id="notgood">{{ message }}</p></td>
            </tr>
            <tr>
                <td></td><td><a href="/register">Not a Member ? Register</a></td>
            </tr>
        </tbody>

</form>
</table>
</body>
</html>