<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="/static/styles/bootstrap/css/bootstrap.css" rel="Stylesheet" />
    <link type="text/css" href="/static/styles/style.css" rel="Stylesheet" />
    <title></title>
</head>
<body style="padding-left: 40px; background: #f5f5f5">
    <h1>Welcome to VideoStoreApp Registration</h1>
    <table class="register">
    <form action="/register/" method="post" >

            <tbody>
            <tr>
                <td><label>Email: </label></td><td><input type="email" required="required" name="email" /></td>
            </tr>
            <tr>
                <td><label>Password</label></td><td><input type="password" required="required" name="password"/></td>
            </tr>
            <tr>
                <td></td><td><input class="btn btn-primary" type="submit" value="register"/></td>
            </tr>
            </tbody>

    </form>
    </table>

</body>
</html>